*
!.gitignore
!src
!src/**.cpp
!src/**.h
!src/shaders
!src/shaders/**
!src/assets
!src/assets/**
!vendor
!vendor/**


!.gitmodules
!CMakeLists.txt
!CMakePresets.json
!README.md
!scripts
!scripts/**
!vcpkg.json

!src/debug
!src/debug/**.cpp
!src/debug/**.h

!/src/debug/vulkan
!/src/debug/vulkan/*.cpp
!/src/debug/vulkan/*.h
