*
!.gitignore
!src
!src/**.cpp
!src/**.h
!src/shaders
!src/shaders/**
!src/assets
!src/assets/**
!vendor
!vendor/*
!.gitmodules
!CMakeLists.txt
!CMakePresets.json
!README.md
!scripts
!scripts/**
!vcpkg.json

!src/debug
!src/debug/**.cpp
!src/debug/**.h

!/src/debug/impl
!/src/debug/stub
!/src/debug/include

!/src/debug/impl/vulkan
!/src/debug/stub/vulkan
!/src/debug/include/vulkan

!/src/debug/impl/vulkan/*.cpp
!/src/debug/stub/vulkan/*.cpp
!/src/debug/include/vulkan/*.h
