*

!.clang-format

!.gitignore
!src
!src/**.cpp
!src/**.h

!src/vulkanRenderer
!src/vulkanRenderer/*.cpp
!src/vulkanRenderer/*.h

!src/vulkanRenderer/vkutils
!src/vulkanRenderer/vkutils/*.cpp
!src/vulkanRenderer/vkutils/*.h

!src/vulkanRenderer/vkcore
!src/vulkanRenderer/vkcore/*.cpp
!src/vulkanRenderer/vkcore/*.h

!src/vulkanRenderer/vkalloc
!src/vulkanRenderer/vkalloc/*.cpp
!src/vulkanRenderer/vkalloc/*.h

!src/CAEngine
!src/CAEngine/*.cpp
!src/CAEngine/*.h

!src/utils
!src/utils/*.cpp
!src/utils/*.h

!src/shaders
!src/shaders/**
!src/assets
!src/assets/**
!vendor
!vendor/**


!.gitmodules
!CMakeLists.txt
!CMakePresets.json
!README.md
!scripts
!scripts/**
!vcpkg.json

!src/debug
!src/debug/**.cpp
!src/debug/**.h

!/src/debug/vulkan
!/src/debug/vulkan/*.cpp
!/src/debug/vulkan/*.h
